
.brandName{
  font-weight: 800;
  font-size: 32px;
  color:#083758ff;
  line-height: 35px;
  text-shadow: 1px 1px 0 #fff, 2px 2px 5px rgba(0,0,0,0.5);
  margin: 5px 0px;
  letter-spacing: 3px;
 
}
.brandName span{
  font-weight: 700;
  font-size: 55px;
}
.bookbutton{
  border:1px solid black;
  background-color: rgb(197, 161, 43);
  color: #333;
  text-decoration: none;
  padding: 15px 60px 10px 60px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}
.Login{
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}
.menu{
    justify-content: end !important;
    color:white
}
.navLink{
    justify-content: space-around;
}
.navLink  .active{
    color:red
}
.navLink a {
    color:rgb(238, 232, 232);
    
    font-size: 20px;
    font-weight: 900;
    letter-spacing:1px;
    opacity: 0.8;
}
.navLink a:hover{
    opacity:1;
    color:rgb(238, 232, 232);
   text-shadow:2px 2px 10px rgba(26, 24, 24, 0.915);
}

@media (max-width:600px){
    .bookbutton{
        display: none;
    }
   
}
