.container{
    background-image:linear-gradient(90deg,rgba(0, 0, 0, 0.405),rgba(0, 0, 0, 0.312)), url("../Assets/NoPage.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.head{
    width:100%;
    height:10vh;
    
}
.head a{
    text-decoration:none;
}
 .head h1{
    padding: 20px 0px 0px 100px;
    font-weight: 800;
  font-size: 32px;
  color:#083758ff;
  text-shadow: 1px 1px 0 #fff, 2px 2px 5px rgba(0,0,0,0.5);
  letter-spacing: 3px;
   
 }
.main{
    width: 100%;
    height: 90vh;
   display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}
.main h1{
   
    font-weight: 800;
  font-size: 42px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0px rgb(9, 20, 21);
}
.main h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.main p{
    font-size: 14px;
    margin: 0px;
}
.main a{
    text-decoration: none;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 50px;
    padding: 15px 40px;
    background-color: #2C2F78;
    color: white;
    text-shadow: 2px 2px 0px black;
}