.blogContainer {
   
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px;
  margin: 50px;
}

.blogC{
  flex:1 1 calc(25% - 25px);
  min-width: 250px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.393);
  transition: 0.3s ease-out;
}

.blogCard:hover {
  transform: translateY(-10px);
}

.blogImg {
  width: 100%;
  height: 180px;
  object-fit: cover; 
 
}

.blogContent {
  padding: 18px;
}

.blogContent h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: rgb(13, 67, 105) ;
    text-shadow: 1px 1px 2px rgba(18, 17, 17, 0.714);
}

.blogContent p {
  color: #4a4a4a;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 12px;
}


.container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer div{
  background: linear-gradient(45deg,
    
     rgba(38, 106, 98, 0.015),
        rgba(38, 106, 98, 0.415),
        rgba(38, 106, 98, 0.658),
         rgba(38, 106, 98, 0.52),
     rgba(38, 106, 98, 0.052)
      );
}
.offer h4{
  color: rgb(12, 75, 120) ;
    text-shadow: 1px 1px 0px rgba(18, 17, 17, 0.714);
    font-size: 30px;
    font-weight: 500;
}