

.Sucess{
    height:100vh;
    background-color: #e7dbec;

}

.Sucess form{
    background-color: #5f4c6882;
    box-shadow: 1px 2px 4px  #3e2948a5;
    padding: 20px;
    color:#4e335bf4;
    
    
}

.a{
    color: rgb(221, 219, 236);
}
.Sucess input,.Sucess textarea{
    background-color:transparent;
    border-color:  #c8d9e7 ;
}
.Sucess input::placeholder{
    color :#c8d9e7  ;
}
.Sucess button{
    color:   #e0c8e7 ;
    background-color:#2c013ff4 ;
    padding:10px 20px 4px 20px;
    border-radius: 13px;
}


.pr{
    color:#dcbdebf4 ;
    border-radius: 50%;
    border: 1px solid #2c013ff4 ;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    width:25%;
    margin:auto;
    background-color:#2c013ff4;
}

.container{
    height:100vh;
    background-color:#f4f5f9;
    
}
.text h1{
    padding: 10px 0px 20px 0px;
    border-bottom: 2px solid  rgba(19, 67, 80, 0.282) ;
    text-align:start
}
.text{
    color:#194673;
    box-shadow: 1px 1px 10px  #c8d9e7 ;
    text-align: end;
    
}
.text p{
    text-align: start;
}
.text input{
    border:none;
    color: rgba(19, 67, 80, 0.782);
}
.text input::placeholder {
    color: rgba(19, 67, 80, 0.51);
}
.text button {
    background-color: #194673;
    padding:10px 20px 4px 20px;
    border:none;
    border-radius: 13px;
    color: #c8d9e7 ;
    
}

.a:hover{
    color:rgb(5, 7, 132);
    font-weight:300;
}